// Variables
$font-stack: Helvetica, sans-serif;

// Colors
$background:    #53e17d;
$card:          #8cf0a9;
$card-border:   #63aa78;
$dark-green:    #28663b;
$white:            #fff;
$text:          #74736f;
$warning:       #fc9929;

body {
  background-color: $background;
  background-size: cover;
  color: $white;
}

button {
  -webkit-appearance: 0;
  background-color: $card-border;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 $dark-green;
  margin: 20px;
  padding: 20px;
  position: relative;

  &:focus {
    outline: 0;
  }

  &:active {
    box-shadow: none;
    top: 2px;
  }
}

h1,
h2 {
  text-shadow: 0 1px 1px $card-border;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: block;
}
