// Variables
$font-stack: Helvetica, sans-serif;

// Colors
$background:    #53E17D;
$card:          #8CF0A9;
$card-border:   #63AA78;
$white:         #ffffff;
$text:          #74736f;
$warning:       #fc9929;

body {
  background-color: $background;
  background-size: cover;
  color: $white;
}

button {
  -webkit-appearance: none;
  background-color: $card-border;
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

ul {
  padding:0;
  margin:0;
  text-align:center;
}

li {
  display: block;
}
