.card {
  background-color: $card;
  box-shadow: 0 8px 6px -6px $card-border;
  margin: 200px auto 0;
  padding: 100px 20px;
  text-align: center;
  width: 400px;
}

.game {
  padding-top: 60px;
}


.score-box {
  background-color: $white;
  border: 1px solid $white;
  box-shadow: 0 8px 6px -6px $card-border;
  color: $text;
  display: inline-block;
  height: 70px;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 60px;

  &.active {
    border: 1px solid $warning;
  }

  &:last-child {
    width: 90px;

    .second-score {
      border-bottom: 1px solid $text;
      border-left: 1px solid $text;
      height: 20px;
      padding: 5px 10px;
      position: absolute;
      right: 31px;
      width: 10px;
    }

    .third-score {
      border-bottom: 1px solid $text;
      border-left: 1px solid $text;
      height: 20px;
      padding: 5px 10px;
      position: absolute;
      right: 0;
      width: 10px;
    }
  }

  .first-score {
    left: 0;
    padding: 5px 10px;
    position: absolute;
  }

  .second-score {
    border-bottom: 1px solid $text;
    border-left: 1px solid $text;
    height: 20px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    width: 10px;
  }

  .turn-score {
    bottom: 5px;
    font-size: 28px;
    position: absolute;
    right: 5px;
  }

  .msg {
    bottom: 4px;
    color: $warning;
    font-size: 24px;
    left: 4px;
    position: absolute;
  }
}
