.card {
  background-color: $card;
  margin: 200px auto 0;
  width:400px;
  padding:100px 20px;
  box-shadow: 0 8px 6px -6px $card-border;
  text-align:center;
}

.game {
  padding-top:60px;
}


.score-box {
  color: $text;
  display: inline-block;
  width: 60px;
  height: 70px;
  background-color: $white;
  margin: 5px;
  position: relative;
  box-shadow: 0 8px 6px -6px $card-border;
  text-align: center;
  &.active {
    border: 1px solid $warning;
  }
  .first-score {
    left: 0;
    padding: 5px 10px;
    position: absolute;


  }
  .second-score {
    padding: 5px 10px;
    position: absolute;
    height: 20px;
    right: 0;
    border-left: 1px solid $text;
    border-bottom: 1px solid $text;
    width: 10px;

  }
  .turn-score {
    position:absolute;
    bottom:5px;
    font-size: 28px;
  }
  .msg {
    position:absolute;
    top:-5;
    left: -5;
    font-size:28px;
    color: $warning;
    transform: rotate(-45deg);
  }
}
